<img src='https://raw.githubusercontent.com/leannedavid/prism-frontend/master/src/assets/prism-logo-512x512.png' style="height:125px; width: 125px;">
<br>
<br>

<font size:"20px"> <strong> Hello {{first}} {{last}}, </strong> </font>
<br>
<br>
<font size:"17px">
The following Document <strong>"{{document}}"</strong> has an upcoming deadline. <br>
Please check PRISM for more details or click the link below.
</font>
<br>
<a href='https://droplet2.amclees.com/dashboard'> <strong> Link to dashboard </strong></a>
<br>
<br>
<br>
<strong>
From,
<br>
Program Review Information System Management
</strong>
