<img src='https://raw.githubusercontent.com/leannedavid/prism-frontend/master/src/assets/prism-logo-512x512.png' style="height:125px; width: 125px;">
<br>
<br>

<font size:"20px"> <strong> Hello {{first}} {{last}}, </strong> </font>
<br>
<br>
<font size:"17px">
The following event <strong>"{{title}}"</strong> has been created. <br>
Please check PRISM calendar for more details or click the link below.
</font>
<br>
<a href="https://droplet2.amclees.com/calendar"> <strong>Link to calendar</strong></a>
</font>
<br>
<br>
<br>
<strong>
From,
<br>
Program Review Information System Management
</strong>
